<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Social Sharing
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h1>Social media image sharing</h1>
    <ion-button color="primary" (click)="share('email')">Email</ion-button>
    <ion-button color="secondary" (click)="share('twitter')">Twitter</ion-button>
    <ion-button color="tertiary" (click)="share('facebook')">Facebook</ion-button>
    <ion-button color="tertiary" (click)="share('whatsapp')">Whatsapp</ion-button>

    <table #container>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Lorem</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ipsum</td>
        </tr>
    </table>
    
    <img [src]="imageSrc">
    
</ion-content>